<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="QuartzWorker" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <QuartzWorker>
    <add key="ThreadCount" value="1" />
  </QuartzWorker>
</configuration>